################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/microservicelearning/v16/Server/sqlite3
/obj
/.vs/microservicelearning/v16
/bin/Debug/netcoreapp3.1
